@import 'reset.css';

.open-nav{
    overflow-y: hidden;
}

.dark-mask{
    background-color: rgba(44, 50, 52, 0.5)!important;
    content: '';
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    transition: all 0.5s ease!important;
    visibility: hidden;
    width: 100%;
    z-index: 9999;
}

.open-nav .dark-mask{
    opacity: 1;
    visibility: visible;
}

.site-header{
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    left: 0;
    position: fixed;
    top: 0;
    transition: var(--app-transition);
    width: 100%;
    z-index: 999;
}

.site-header__content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    transition: var(--app-transition);
}

.home .site-header{
    border-bottom: none;
}

.home .site-header__content{
    padding: 30px;
}

.site-header__brand{
    align-items: center;
    display: flex;
}

.logo{
    margin-bottom: -20px;
}

.slogan{
    color: #fff;
    margin-left: 20px;
    transition: var(--app-transition);
}

.site-header__right{
    display: flex;
    justify-content: flex-end;
}

.site-header__user__button{
    color: #fff;
    transition: var(--app-transition);
}

.nav-mobile{
    display: none;
}

.logo-nav{
    display: none;
}

.site-header__nav{
    flex: 1;
}

.site-nav__list{
    align-items: center;
    display: flex;
    font-weight: 600;
    justify-content: center;
}

.site-nav__item a{
    color: #fff;
    display: block;
    padding: 4px 15px;
    transition: var(--app-transition);
}

.sticky{
    background: #fff;
    box-shadow: 0 5px 40px rgb(50 60 72 / 10%);
    color: var(--app-gray);
}

.sticky .site-header__content{
    padding: 20px 30px;
}

.sticky .logo svg{
    fill: var(--app-primary);
}

.sticky .slogan{
    color: var(--app-gray);
}

.sticky .site-header__user__button{
    color: var(--app-primary);
}

.sticky .site-header__user__button svg{
    fill: var(--app-primary);
}

.sticky .site-nav__item a{
    color: var(--app-gray);
}

.site-nav__header{
    display: none;
}




.home .main-section{
    height: 720px;
}

.main-section{
    background: var(--app-primary);
    color: #fff;
    overflow: hidden;
    padding: 120px 0 50px;
    position: relative;
}

.home .main-section{
    padding: 0;
}

.main-section__wrapper{
    align-items: center;
    display: flex;
    height: 100%;
}

.main-section__content{
    position: relative;
    width: 100%;
    z-index: 3;
}

.main-section__caption{
    font-size: 1.2em;
}

.home .main-section__caption{
    margin-bottom: 30px;
}

.main-section__title{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 2px;
}

.main-section__subtitle{
    font-family: 'Nunito';
    font-size: 1.25em;
    margin-bottom: 10px;
}

.main-section__sub-subtitle{
    font-family: 'Nunito';
}

.searchbox{
    display: flex;
    max-width: 60%;
}

.searchbox select{
    background: transparent;
    border: 2px solid #fff;
    margin-right: 10px;
}

.searchbox select option{
    color: var(--app-gray);
}

.searchbox button{
    padding-left: 30px;
    padding-right: 30px;
}

.main-section__image{
    bottom: -40px;
    position: absolute;
    right: -5%;
    z-index: 2;
}

.main-section__image img{
    margin-bottom: -10px;
}

.main-section .morph{
    position: absolute;
    z-index: 1;
}

.main-section .morph1{
    bottom: 0;
    left: 0;
    width: 40%;
}

.main-section .morph2{
    right: 0;
    top: 0;
    transform: rotate(180deg) scaleX(1.5) scaleY(1.25)!important;
    width: 40%;
}




.block-pad{
    padding: 60px;
}

.block-pad__title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.block-pad__footer{
    margin-top: 40px;
}

.block-pad__footer button{
    margin: 0 auto;
}

.doctors{
    background: var(--app-lightgray);
}

.call-to-action{
    background: var(--app-secondary);
    color: #fff;
    font-size: 1.25em;
    padding: 120px 0 140px;
    text-align: center;
}

.call-to-action__title{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.call-to-action__subtitle{
    font-size: 1.5em;
}

.call-to-action button{
    margin: 20px auto 0;
}




/* Interior Pages */

.wrapper{
    padding: 40px 0;
}


/* Results  */

.results__content{
    border: 1px solid var(--app-lightgray2);
    border-radius: 8px;
    overflow: hidden;
}

.results__profile{
    align-items: center;
    display: flex;
}

.results__profile__image{
    height: 80px;
    margin-top: 0;
    width: 80px;
}

.results__caption{
    margin-left: 15px;
    padding: 0;
    text-align: left;
}

.results__profile__rate{
    margin-top: 6px;
}

.results__schedule{
    border-top: 1px solid var(--app-lightgray1);
}

.results__schedule__list{
    flex: 1;
    height: 156px;
    overflow-y: auto;
}

.results__schedule__item{
    align-items: flex-start;
    display: flex;
    padding: 10px;
}

.results__schedule__item:nth-child(odd){
    background: #f6f5ff;
}

.schedule__hours{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.schedule__day{
    border-radius: 8px;
    font-family: 'Goldplay';
    font-weight: 600;
    line-height: 1em;
    margin: 2px 0;
    padding: 6px;
    flex: 0 0 70px;
}

.schedule__hour{
    background: #fff;
    border: 1px solid var(--app-lightgray2);
    border-radius: 8px;
    display: block;
    margin: 2px;
    padding: 6px 10px;
    text-align: center;
}

.schedule__hour:hover{
    border: 1px solid var(--app-primary);
    color: var(--app-primary);
}

.schedule__active{
    background: var(--app-primary);
    border: 1px solid var(--app-primary);
    color: #fff!important;
}

.schedule__desactive{
    background: transparent;
    border-color: transparent;
    pointer-events: none;
    text-decoration: line-through;
}





.site-footer{
    text-align: center;
    padding: 40px 0;
}





@media screen and (max-width: 1600px) {

    .home .main-section{
        height: 640px;
    }

    .main-section__caption{
        font-size: 1.4em;
    }

    .main-section__image{
        max-width: 55%;
    }

}


@media screen and (max-width: 1279px) {

    .site-header__content,
    .sticky .site-header__content {
        padding: 20px;
    }

    .logo svg{
        width: 160px;
    }

    .slogan{
        display: none;
    }

    .nav-mobile{
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }

    .site-nav__header{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }

    .site-nav__header__logo{
        margin-bottom: -10px;
    }

    .close-nav{
        padding: 10px 0;
    }

    .sticky .nav-mobile svg{
        fill: var(--app-primary);
    }

    .site-header__nav{
        background: #fff;
        bottom: 0;
        left: 0;
        top: 0;
        position: fixed;
        width: 250px;
        transform: translateX(-280px);
        transition-timing-function: cubic-bezier(0.1, 1, 1, 1);
        transition-duration: 0.3s;
        z-index: 999999;
    }

    .open-nav .site-header__nav{
        transform: translateX(0);
    }

    .site-nav__list{
        display: block;
    }

    .site-nav__item a {
        color: var(--app-gray);
        padding: 10px 30px;
    }

    .home .main-section{
        height: 480px;
    }

    .main-section__image{
        display: none;
    }

    .main-section__content{
        margin: 0 auto;
        text-align: center;
    }

    .searchbox{
        max-width: 100%;
    }

    .card-results{
        flex: 0 0 100%;
    }

}


@media screen and (max-width: 767px) {

    .block-pad{
        padding: 40px 0;
    }

    .call-to-action{
        font-size: 1em;
        padding: 80px 0 90px;
    }

    .site-footer{
        padding: 25px 0;
    }

    .main-section{
        height: auto;
        padding: 80px 0 40px;
    }

    .main-section .morph1,
    .main-section .morph2{
        width: 60%;
    }

    .searchbox{
        display: block;
    }

    .searchbox select{
        margin: 0 0 10px;
    }

    .searchbox button{
        width: 100%;
    }

}


@media screen and (max-width: 480px) {

    .site-header__user__button span{
        display: none;
    }

    .main-section__caption{
        font-size: 1.25em;
    }

    .main-section__title{
        font-size: 1.4em;
    }

    .call-to-action__subtitle{
        font-size: 1.125em;
    }

    .results__profile{
        display: block;
    }

    .results__caption{
        margin: 10px 0 0;
        text-align: center;
    }

    .results__profile .button{
        display: none;
    }

}